<header class="main_header">
    <div class="inner_header">

        <div class="logo_container">
            <h1>My <span>movies</span></h1>
        </div>

        <ul class="navigation">
            <a href="/"><li>Home</li></a>
            <a href="/directors"><li>Directors</li></a>
            <% if (isLoggedIn) { %>
                <a href="/movies/add"><li>Add movies</li></a>
                <a href="/directors/add"><li>Add Directors</li></a>
            <% } %>
            <% if (!isLoggedIn) { %>
                <a href="/login"><li>Login</li></a>
                <a href="/sign-up"><li>Sign up</li></a>
            <% } else{ %>
                <a href="">
                <li>
                    <form action="/logout" method="post">
                        <button>Logout</button>
                    </form>
                </li>
                </a>
            <% } %>
        </ul>

    </div>
</header>