.director_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding-bottom: 20px;
    border-bottom: 1px groove black;
}
.director_details div{
    padding: 5px 0;
}
.director_details div img{
    width: 250px;
    height: 350px;
	border: 3px solid black;
	border-radius: 7px;
}
.movies{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movies_grid{
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
