.directors_grid{
    width: 95%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card_director div:nth-child(2){
    height: 250px;
}

@media screen and (max-width: 940px) {
	.directors_grid {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 600px) {
	.directors_grid {
		grid-template-columns: 1fr;
	}
}