.movies_grid{
    width: 95%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.movie_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 350px;
    margin: 5% auto;
    padding-top: 5%;
    box-sizing: border-box;
    background-color: #363636;
    border: 3px solid white;
    border-radius: 12px;
}
.movie_card a{
    height: 67%;
    width: 90%;
}
.movie_card img{
    height: 100%;
    width: 100%;
}
.movie_card div{
    margin-top: 1%;
    height: 10%;
}
.movie_card div a{
    text-decoration: none;
    color: black;
}
