/* FORM */


.movie_form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    /* background-color: aquamarine;     */
}
.movie_form header{
    margin: 20px auto 0;
}
.form_control{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
    /* background-color: cadetblue; */
}
.form_control label{
    margin-top: 10px;
}
.form_control input{
    margin-top: 5px;
    width: 95%;
}
.form_control select{
    margin-top: 5px;
    width: 95%;
}

.movie_form button{
    display: block;
    margin: 10px auto 0;
    width: 100px;
}