/* Main box */
main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
* {
	box-sizing: border-box;
}
h1{
	margin: 10px 0;
}
/* Form pattern */
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}
form header{
    margin: 20px auto 0;
}
form button{
    display: block;
    margin: 10px auto 0;
    width: 100px;
}
.form_control{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
}
.form_control label{
    margin-top: 10px;
}
.form_control input{
    margin-top: 5px;
    width: 95%;
}
.form_control select{
    margin-top: 5px;
    width: 95%;
}
/* Card pattern */
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
	width: 85%;
	height: 375px;
	margin: 5% auto;
	padding: 12px;

	background-color: #101010;
	border: 1px solid white;
	border-radius: 10px;
}
.card div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 40px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
.card div:first-child{
	font-size: 19px;
}
.card div:nth-child(2){
	height: 220px;
}
.card div a {
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: white;
} 
.card div a img {
	height: 100%;
	width: 100%; 
}
.card div a p{
	line-height: 40px;
	padding: auto 0;
}

/* Error box */
.error_box{
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 360px;
	margin: 20px auto;
	padding: 0 auto;
	border: 2px solid #D8000C;
	border-radius: 3px;
	color: #D8000C;
    background-color: #FFD2D2;
}
/* Anchor type */
a.underline_link {
    color: black;
    margin-top: 15px;
}
a.underline_link:hover{
    transform: scale(1.04);
    text-decoration: underline;
}

@media screen and (max-width: 940px) {
	.card {
		width: 65%;
	}
}
@media screen and (max-width: 780px) {
	.card {
		width: 75%;
	}
}
@media screen and (max-width: 720px) {
	.card {
		width: 85%;
	}
}
@media screen and (max-width: 600px) {
	.card {
		width: 60%;
	}
}
@media screen and (max-width: 470px) {
	.card {
		width: 75%;
	}
}
@media screen and (max-width: 380px) {
	.card {
		width: 90%;
	}
}