.main_header{
    width: 100vw;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 90%;
    max-width: 1000px;
    height: 100%;
    display: block;
    margin: auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 200;
}
.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;

}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 20px;

}
.navigation a:last-child{
    padding-right: 0;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.navigation a li:hover{
    color: #FFD700;
}

main{
    width: 100%;
    /* height: 95vh; */
    /* background-color: thistle; */
    /* background-color: #363636; */
    display: flex;
    justify-content: center;
}

/* FORM */


.movie_form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    /* background-color: aquamarine;     */
}
.movie_form header{
    margin: 20px auto 0;
}
.form_control{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
    /* background-color: cadetblue; */
}
.form_control label{
    margin-top: 10px;
}
.form_control input{
    margin-top: 5px;
    width: 95%;
}

.movie_form button{
    display: block;
    margin: 10px auto 0;
    width: 100px;
}

/* Movies cards */
.movies_grid{
    width: 95%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.movie_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 350px;
    margin: 5% auto;
    padding-top: 5%;
    box-sizing: border-box;
    background-color: #363636;
    border: 3px solid white;
    border-radius: 12px;
}
.movie_card a{
    height: 67%;
    width: 90%;
}
.movie_card img{
    height: 100%;
    width: 100%;
}
.movie_card div{
    margin-top: 1%;
    height: 10%;
}

.movie_detailed{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 16px;
    /* background-color: burlywood; */
}
.movie_detailed img{
    width: 400px;
    height: 500px;
}
.movie_detailed div{
    margin-top: 5px;
    height: 32px;
}