.main_header {
	width: 100vw;
	height: 80px;
	display: block;
	background-color: #101010;
}
.inner_header {
	width: 90%;
	max-width: 1000px;
	height: 100%;
	display: block;
	margin: auto;
}

.logo_container {
	height: 100%;
	display: table;
	float: left;
}
.logo_container a {
	display: table-cell;
	vertical-align: middle;
}
.logo_container h1 {
	color: white;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 200;
}
.logo_container h1 span {
	font-weight: 800;
}
.navigation {
	float: right;
	height: 100%;
}
.navigation a {
	height: 100%;
	display: table;
	float: left;
	padding: 0 20px;
}
.navigation a:last-child {
	padding-right: 0;
}
.navigation a li {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
.navigation a li:hover,
.navigation a li.active {
	color: #ffd700;
}
main {
	width: 100%;
	display: flex;
	justify-content: center;
}
