main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-container {
	position: fixed;
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(16, 16, 16, 0.7);
}
.modal-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 360px;
	height: 75px;
	border: 2px solid #101010;
	border-radius: 8px;
	color: white;
	z-index: 100;
	background-color: #101010;
}
.hide-modal {
	display: none;
}
