.movie_detailed {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.movie_detailed div {
	padding: 7px 0;
}
.movie_detailed img {
	width: 250px;
	height: 350px;
	border: 3px solid black;
	border-radius: 7px;
}

.movie_detailed div.buttons {
	display: flex;
	justify-content: center;
}
.buttons button {
	color: white;
	background-color: black;
	border: 2px solid black;
	padding: 0 10px;
	margin: 0 10px;
	width: 120px;
	height: 32px;
	border-radius: 5px;
}
.buttons button:hover {
	border: 2px solid #ffd700;
}
