<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <h1>Add director</h1>
        <%if(errorMessage){%>
        <%- include('../includes/error-box.ejs') %>
        <% } %>
        <form class="movie_form" action="/directors/add" method="POST" enctype="multipart/form-data">
            <div class="form_control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
                <label for="directorImg">Image</label>
                <input type="file" name="directorImg" id="directorImg" required>
                <label for="birthYear">Birth Year</label>
                <input type="number" step="1" name="birthYear" id="birthYear" required>
            </div>
            <button type="submit">Add director</button>
        </form>
    </main>
</body>

</html>