<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <h1>Add director</h1>
        <form class="movie_form" action="/directors/add" method="POST">
            <div class="form_control">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
                <label for="birthYear">Birth Year</label>
                <input type="number" name="birthYear" id="birthYear" required>
            </div>
            <button type="submit">Add director</button>
        </form>
    </main>
</body>

</html>